*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* COMMON BODY */
body{
    height:100vh;
    font-family:'Poppins',sans-serif;
    overflow:hidden;
    color:white;
}




.photo-overlay {
    position: fixed;
    inset: 0;
    background: 
        linear-gradient(#ff5f5f80, rgba(255, 0, 0, 0.5)),
        url("couple.jpg") center/cover no-repeat;
    opacity: 0.65;
    filter: blur(2px);
    z-index: -1;
}


/* PAGE 1 BACKGROUND */
.page1{
    background: radial-gradient(circle,#ffb3c6,#ff4d6d);
}

/* BACKGROUND PHOTO OVERLAY */
.bg-overlay{
    position:fixed;
    inset:0;
    background:url("couple.jpg") center/cover no-repeat;
    opacity:0.25;
    filter: blur(2px);
    z-index:-1;
}

/* PAGE 2 BACKGROUND */
.page2{
    background: radial-gradient(circle,#ff7790,#ff2f5e);
}

/* WELCOME CONTENT */
.welcome{
    position:absolute;
    top:35%;
    width:100%;
    text-align:center;
}

.welcome h1{
    font-family:'Great Vibes',cursive;
    font-size:64px;
    text-shadow:0 0 20px rgba(255,255,255,0.8);
}

.intro{
    width:70%;
    margin:20px auto;
    font-size:20px;
    line-height:1.7;
}

/* BUTTON */
button{
    padding:15px 40px;
    font-size:22px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:white;
    color:#ff2f5e;
    box-shadow:0 0 25px rgba(255,255,255,0.7);
    transition:0.4s;
}

button:hover{
    background:#ff2f5e;
    color:white;
    transform:scale(1.05);
}

/* LETTER PAGE BOX */
.letter-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(255,255,255,0.95);
    color: #ff2f5e;

    padding: 25px 30px;
    width: 70%;
    max-width: 700px; /* desktop limit */
    max-height: 70vh; /* scroll friendly */
    overflow-y: auto; /* scroll enable */

    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255,0,100,0.6);
    border: 2px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);

    font-size: 12x;
    line-height: 1.6;
}

.letter-box h2{
    font-family:'Great Vibes',cursive;
    font-size:48px;
    text-align:center;
    margin-bottom:15px;
}

/* POP ANIMATION */
@keyframes pop{
    from{transform:translate(-50%,-40%) scale(0.8);opacity:0;}
    to{transform:translate(-50%,-50%) scale(1);opacity:1;}
}

/* FLOATING HEARTS */
.heart{
    position:absolute;
    width:16px;
    height:16px;
    background:#ff2f5e;
    transform:rotate(45deg);
    animation:float 8s linear infinite;
    opacity:0.8;
}

.heart::before,
.heart::after{
    content:"";
    width:16px;
    height:16px;
    background:#ff2f5e;
    border-radius:50%;
    position:absolute;
}

.heart::before{top:-8px;left:0;}
.heart::after{left:-8px;top:0;}

@keyframes float{
    from{transform:translateY(100vh) rotate(45deg);}
    to{transform:translateY(-10vh) rotate(45deg);opacity:0;}
}




.slideshow{
    position:fixed;
    inset:0;
    z-index:-1;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    opacity:30%;
    animation:slideShow 65s infinite;
}

.slide:nth-child(1){ background-image: url("1.jpg"); animation-delay: 0s; }
.slide:nth-child(2){ background-image: url("2.png"); animation-delay: 5s; }
.slide:nth-child(3){ background-image: url("2..jpg"); animation-delay: 10s; }
.slide:nth-child(4){ background-image: url("3.png"); animation-delay: 15s; }
.slide:nth-child(5){ background-image: url("4.jpg"); animation-delay: 20s; }
.slide:nth-child(6){ background-image: url("5.jpg"); animation-delay: 25s; }
.slide:nth-child(7){ background-image: url("6.jpg"); animation-delay: 30s; }
.slide:nth-child(8){ background-image: url("7.png"); animation-delay: 35s; }
.slide:nth-child(9){ background-image: url("8..jpg"); animation-delay: 40s; }
.slide:nth-child(10){ background-image: url("8.jpg"); animation-delay: 45s; }
.slide:nth-child(11){ background-image: url("9.jpg"); animation-delay: 50s; }
.slide:nth-child(12){ background-image: url("9..jpg"); animation-delay: 55s; }
.slide:nth-child(13){ background-image: url("10.jpg"); animation-delay: 60s; }








@keyframes slideShow{
    0%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    40%{opacity:0;}
    100%{opacity:0;}
}

#loveText{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-size:60px;
    font-family:'Great Vibes',cursive;
    color: #FEFD96;
    opacity:0;
    display:none;
    animation:fadeIn 2s forwards;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

.close-btn{
    position:absolute;
    top:10px;
    right:15px;
    background:#ff2f5e;
    color:white;
    border:none;
    padding:6px 12px;
    border-radius:50%;
    cursor:pointer;
}